body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px; /*body initially has a margin of 8px*/
    padding: 0px;
}

/*header css*/

.header-logo {
    width: 60px;
    height: auto;
}

ul.links {
    list-style-type: none; /* removes bullets*/
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none; /*removes underline*/
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20%;
    background-color: #1F2937;
}

/* hero section css */
.hero-section {
    background-color: #1F2937;
    display: flex;
    padding: 65px 230px;
    gap: 50px;
}

.hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px; /*headings have some top and bottom margin. we donot want that in this case*/
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    padding: 8px 25px;
    border-radius: 5px;
}

.hero-image {
    width: 400px;
    height: auto;
}

/*info section css*/

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.info-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 45px; /*the orginal margin bottim of heading(24ish px) was looking less*/
}

.info-images-text-section {
    display: flex;
    gap: 30px;
}

.info-image-text-card {
    max-width: 150px;
    text-align: center; /*this center aligns the text as well as the image*/

    /* we can use this code as well to center the image
    display: flex;    
    flex-direction: column;
    align-items: center; */
}

.info-image {
    width: 125px;
    height: 125px;
    border: #3882F6 4px solid;
    border-radius: 10px;
}

.info-text {
    color: rgb(104, 103, 103);
}

/*quote section css*/

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote {
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.author {
    text-align: right;
    font-size: 18px;
    font-weight: 900;
}

/*call for action section*/

.call-section {
    padding: 70px 200px;
}

.call-text-button-container {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 10px;
    align-items: center;
}

.call-heading {
    color: #F9FAF8;
    font-size: 22px;
    font-weight: 800;
}

.call-text {
    color: #E5E7EB;
    font-size: 16px;
}

.call-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: #F9FAF8 2px solid;
    border-radius: 5px;
    padding: 4px 25px;
    font-size: 15px;
    font-weight: 800;
}

.footer {
    height: 80px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}