body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px; /*body initially has a margin of 8px*/
    padding: 0px;
}

.header-logo {
    width: 60px;
    height: auto;
}

ul.links {
    list-style-type: none; /* removes bullets*/
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none; /*removes underline*/
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20%;
    background-color: #1F2937;
}