body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px; /*body initially has a margin of 8px*/
    padding: 0px;
}

/*header css*/

.header-logo {
    width: 60px;
    height: auto;
}

ul.links {
    list-style-type: none; /* removes bullets*/
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 50px;
}

a {
    text-decoration: none; /*removes underline*/
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20%;
    background-color: #1F2937;
}

/* hero section css */
.hero-section {
    background-color: #1F2937;
    display: flex;
    padding: 65px 230px;
    gap: 50px;
}

.hero-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px; /*headings have some top and bottom margin. we donot want that in this case*/
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    padding: 8px 25px;
    border-radius: 5px;
}

.hero-image {
    width: 400px;
    height: auto;
}